/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-position: inside;
}

/* Font Styling */
body {
    background-color: #171717;
}

.project-page {
    padding: 1.5rem 2.5rem 0 2.5rem;
    text-align: left;
    font-family: 'Readex Pro', sans-serif;
}

.project-page h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); /* Drop shadow for main title */
}

.project-page p {
    font-size: 70px;
    color: #f5f5f5;
    text-align: center;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); Drop shadow for paragraph */
}

.project-page p1 {
    font-size: 18px;
    color: #f5f5f5;
}

.project-page p2 {
    font-size: 14px;
    color: #f5f5f5;
}

.project-page p3 {
    font-size: 1.5rem;
    color: #f5f5f5;
    text-align: justify;
    display: flex;
    padding: 0 3rem 0 3rem;
}

.project-page p4 {
    font-size: 1.5rem;
    color: #f5f5f5;
    text-align: justify;
    display: flex;
}

/* Main Content Styling */
main {
    padding: 7rem 2.5rem 0 2.5rem;
    text-align: left;
    font-family: 'Epilogue', sans-serif;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); /* Drop shadow for main title */
}

main p {
    font-size: 100px;
    color: #f5f5f5;
    text-align: left;
    font-weight: 600;
}

main p1 {
    font-size: 18px;
    color: #f5f5f5;
}

main p2 {
    font-size: 16px;
    font-family: 'Arial';
    color: #f5f5f5;
}

main p3 {
    font-size: 60px;
    color: #f5f5f5;
    text-align: left;
}

main p4 {
    font-size: 24px;
    text-align: center;
    padding: 15px 0 15px 0;
    font-weight: 500;
}

main p5{
    font-size: 20px;
    font-weight: 400;
}

main p6{
    font-size: 10px;
    padding: 5px 0 0 0;
    font-weight: 400;
}

.project-img img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border: 2px solid #000000;
    border-radius: 8px;
    background: #ffffff;
    margin-bottom: 8px;
}

.project-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 10px 0 10px;
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 20px;
    display: grid;
}

/* Section to contain the card grid */
.card-grid {
    display: grid;
    grid-template-rows: 300px 1fr 30px;
    grid-template-columns: 1fr; /* Responsive columns */
    row-gap: 30px;
}

.card-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 54px 1fr;
    padding: 10px;
    background-color: #f5f5f5; /* Card background color */
    border-radius: 8px;
}

/* Individual Card Styling */
.card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #f5f5f5; /* Card background color */
    border-radius: 8px;
    align-items: flex-start;
    justify-content: space-between;
}

/* Image Styling inside Card */
.card img {
    max-width: 100%; /* Full-width image */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Crop to fit */
}

/* Card Title */
.card h3 {
    font-size: 50px;
    font-family: 'Epilogue', sans-serif;
    margin: 1rem 1rem 1rem 2rem;
}

/* Card Description */
.card p {
    font-size: 1rem;
    font-family: 'Epilogue', sans-serif;
    color: #666; /* Lighter text for description */
    padding: 0 1rem 1rem 2rem;
}

/* Image */

.image {
    border-radius: 4px;
    display: flex;
    margin: 15px 40px;
}

    .image img {
        border-radius: 4px;
        max-width: 100%;
        height: 250px;
        margin: auto;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        padding: 0 1.5em 1em 0;
        top: 0.25em;
    }

    .image.right {
        float: right;
        padding: 0 0 1em 1.5em;
        top: 0.25em;
    }

    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }

        .image.main img {
            width: 100%;
        }

        @media screen and (max-width: 736px) {

            .image.main {
                margin: 0 0 2em 0;
            }

        }

/* Tiles */

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0 0 2.5em -2.5em;
}

    .tiles article {
        display: flex;
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        position: relative;
        width: calc(33.33333% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }

        .tiles article > .image {
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            position: relative;
            display: flex;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
        }

            .tiles article > .image img {
                display: flex;
                width: 100%;
                margin: auto;
            }

            .tiles article > .image:before {
                pointer-events: none;
                -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
                -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
                -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
                transition: background-color 0.5s ease, opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1.0;
                z-index: 1;
                opacity: 0.8;
            }

            .tiles article > .image:after {
                pointer-events: none;
                -moz-transition: opacity 0.5s ease;
                -webkit-transition: opacity 0.5s ease;
                -ms-transition: opacity 0.5s ease;
                transition: opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: none;
                opacity: 0.25;
                z-index: 2;
            }
        
            .tiles article > a {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
            -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
            -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
            transition: background-color 0.5s ease, transform 0.5s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            border-radius: 4px;
            border-bottom: 0;
            color: #f5f5f5;
            text-align: center;
            text-decoration: none;
            z-index: 3;
        }

            .tiles article > a > :last-child {
                margin: 0;
            }

            .tiles article > a:hover {
                color: #ffffff !important;
            }

            .tiles article > a h2 {
                margin: 0;
            }

            .tiles article > a .content {
                -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
                -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
                -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
                transition: max-height 0.5s ease, opacity 0.5s ease;
                width: 100%;
                max-height: 0;
                line-height: 1.5;
                margin-top: 0.35em;
                opacity: 0;
            }

                .tiles article > a .content > :last-child {
                    margin-bottom: 0;
                }

        .tiles article.style1 > .image:before {
            background-color: #f2849e;
        }

        .tiles article.style2 > .image:before {
            background-color: #7ecaf6;
        }

        .tiles article.style3 > .image:before {
            background-color: #7bd0c1;
        }

        .tiles article.style4 > .image:before {
            background-color: #c75b9b;
        }

        .tiles article.style5 > .image:before {
            background-color: #ae85ca;
        }

        .tiles article.style6 > .image:before {
            background-color: #8499e7;
        }

        body:not(.is-touch) .tiles article:hover > .image {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

            body:not(.is-touch) .tiles article:hover > .image:before {
                background-color: #333333;
                opacity: 0.35;
            }

            body:not(.is-touch) .tiles article:hover > .image:after {
                opacity: 0;
            }

        body:not(.is-touch) .tiles article:hover .content {
            max-height: 15em;
            opacity: 1;
        }

    * + .tiles {
        margin-top: 0;
    }

    body.is-preload .tiles article {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
    }

    body.is-touch .tiles article .content {
        max-height: 15em;
        opacity: 1;
    }

    @media screen and (max-width: 1280px) {

        .tiles {
            margin: 0 0 0 -1.25em;
        }

            .tiles article {
                width: calc(33.33333% - 1.25em);
                margin: 1.25em 0 0 1.25em;
            }

    }

    @media screen and (max-width: 980px) {

        .tiles {
            margin: 0 0 0 -2.5em;
        }

            .tiles article {
                width: calc(50% - 2.5em);
                margin: 2.5em 0 0 2.5em;
            }

    }

    @media screen and (max-width: 736px) {

        .tiles {
            margin: 0 0 0 -1.25em;
        }

            .tiles article {
                width: calc(50% - 1.25em);
                margin: 1.25em 0 0 1.25em;
            }

                .tiles article:hover > .image {
                    -moz-transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                    -ms-transform: scale(1.0);
                    transform: scale(1.0);
                }

    }

    @media screen and (max-width: 480px) {

        .tiles {
            margin: 0;
        }

            .tiles article {
                width: 100%;
                margin: 1.25em 0 0 0;
            }

    }

.container {
    width: 50%; /* Adjust width as needed */
    margin: 48px 0px;
}

.con1 {
    display: grid;
    width: 100%; /* Adjust width as needed */
    margin: auto;
    grid-template-columns: 1fr;
}

/* Text container on the left */
.text {
    flex: 1;
    padding: 20px 200px 20px 200px;
}

.about {
    position: fixed;
    right: 730px;
    left: 180px;
    width: 500px;
}

.photo_under {
    flex: 1;
    display: grid;
    padding: 20px 0 0 0;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

    .photo_under img {
        max-width: 100%;
        height: auto;
        border-radius: 8px; /* Optional: adds rounded corners */
        align-self: center;
    }

/* Image container on the right */
.photo {
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-self: center;
    padding: 0px 160px 0px 700px
}

.photo-grid {
    column-width: 150px; /* Sets a fixed width for each column */
    column-gap: 20px;    /* Sets horizontal space between columns */
    }
    
    .photo-grid img {
    width: 100%;             /* Images fit the column width */
    margin-bottom: 20px;     /* Sets vertical space between images */
    border-radius: 8px;      /* Optional: Rounds image corners */
    display: block;          /* Removes small space under images */
    }

.slides_container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}